<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MainetSource</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/META-INF/spring/applicationContext.xml
     			   classpath:/META-INF/spring/cxf-beans.xml
		           classpath:/applicationContext-common.xml
		           classpath:/applicationContext-account.xml
		           classpath:/applicationContext-rnl.xml 
		           classpath:/applicationContext-mobile.xml 
		           classpath:/applicationContext-water.xml
		            classpath:/applicationContext-agency.xml 
		           classpath:/applicationContext-care.xml  
		           classpath:/applicationContext-workManagement.xml
		           classpath:/applicationContext-property.xml
		           classpath:/applicationContext-rti.xml
				   classpath:/applicationContext-assetManagement.xml
				    classpath:/applicationContext-swm.xml
				   classpath:/applicationContext-legal.xml	
                   classpath:/applicationContext-tradeLicense.xml	
                   classpath:/applicationContext-socialSecurity.xml				 
					classpath:/applicationContext-council.xml 
					 classpath:/applicationContext-adh.xml	
					 classpath:/applicationContext-sfac.xml 	
				 <!-- classpath:/applicationContext-landEstate.xml 
				      classpath:/applicationContext-material-mgmt.xml 
				      classpath:/applicationContext-building-plan.xml -->
				    WEB-INF/cxf-beans.xml
				   
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.abm.mainet.common.utility.ApplicationInitializer</listener-class>
  </listener>
  <listener>
    <listener-class>
      org.springframework.security.web.session.HttpSessionEventPublisher
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher-rest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/spring-webmvc-rest.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher-rest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/spring-webmvc.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  <filter>
   <filter-name>xssFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>


 <filter-mapping>
    <filter-name>xssFilter</filter-name>
    <url-pattern>*.html</url-pattern>
    </filter-mapping>
  
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loggingFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loggingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <servlet>
    <description>Apache CXF Endpoint</description>
    <display-name>cxf</display-name>
    <servlet-name>cxf</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cxf</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <filter> 
    <filter-name>requestContextFilter</filter-name> 
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter> 
  <filter-mapping> 
    <filter-name>requestContextFilter</filter-name> 
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>
  
  <filter>
      <filter-name>MoibleRequestFilter</filter-name>
      <filter-class>com.abm.mainet.security.MoibleRequestValidatorFilter</filter-class>
   </filter>

   <filter-mapping>
      <filter-name>MoibleRequestFilter</filter-name>
      <url-pattern>/services/*</url-pattern>
   </filter-mapping>
</web-app>